@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Open+Sans&family=Outfit:wght@300;400;600&family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: contain;
    position: relative;
    background-color: hsl(225, 100%, 94%);
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
}

.text-content {
    padding: 7%;
}

.text-content .title {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 32px;
    text-align: center;
}

.text-content .p-1 {
    text-align: center;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    padding-top: 5%;
    letter-spacing: 1px;
}

.text-content .plan-box {
    border-radius: 12px;
    padding: 25px;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.plan-box-left {
    display: flex;
    text-align: center;
    align-items: center;
}

.ann-59 {
    margin-left: 20px;
}

.plan-box-left .ann-59 h5 {
    color: (223, 47%, 23%);
    font-weight: 900;
    font-size: 15px;
}

.plan-box-left .ann-59 p {
    color: hsl(224, 23%, 55%);
}


.plan-box a {
    font-size: 20px;
    font-weight: 600;
    color: hsl(245, 75%, 52%);
}

.plan-box a:hover {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.btns {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Proceed-btn {
    background-color: hsl(245, 75%, 52%);
    border-radius: 15px;
    color: hsl(225, 100%, 98%);
    width: 90%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}

.Proceed-btn:hover {
    background-color: hsl(224, 23%, 55%);
}

.cancel-btn {
    margin-top: 20px;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    font-size: 17px;
}

.cancel-btn:hover {
    color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 425px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        font-size: 14px;
    }

    .container {
        max-width: 87%;
    }

    title {
        font-size: 23px;
    }

    .plan-box {
        padding: 5px;
    }

    .plan-box-left a {
        margin-left: 50px;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}